h1 {
  font-size: 3rem;
  font-weight: normal;
}


img {
  max-width: 100%;
}


nav {
  background-color: #333;
  color: snow;
}
.navLink {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  color: white;
  display: inline-block;
}

.navLink.active {
  /* font-weight: bold; */
  text-decoration: underline;
  color: rgb(198, 198, 198);
  background-color: rgb(103, 103, 103);
}


footer {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid #000;
  margin: 1rem;
  box-shadow: 5px 5px 10px gray;
}

.feedback {
  position: fixed;
  min-width: 50%;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 3px 3px 10px gray;
}

.feedback.error {
  border-color: tomato;
  background-color: rgb(254, 209, 201);
  box-shadow: 3px 3px 10px rgb(254, 209, 201);
}
.feedback.success {
  border-color: green;
  background-color: rgb(202, 228, 202);
  box-shadow: 3px 3px 10px rgb(96, 133, 96);
}