h1 {
    font-size: 3rem;
    font-weight: normal;
  }
  
  body {
    /* background-color: tomato; */
  }
  
  img {
    max-width: 100%;
  }
  
  
  nav {
    background-color: #333;
    color: snow;
  }
  .navLink {
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    color: white;
    display: inline-block;
  }
  
  .navLink.active {
    /* font-weight: bold; */
    text-decoration: underline;
    color: rgb(198, 198, 198);
    background-color: rgb(103, 103, 103);
  }
  
  
  footer {
    text-align: center;
  }