<%- include('partials/head') %>
    <%- include('partials/nav') %>

        <h1>
            <%= title %>
        </h1>
        <img src="img/image1.png" alt="ssr vs csr" />


        <%- include('partials/footer') %>