<%- include('partials/head') %>
    <%- include('partials/nav') %>

        <h1>
            <%= locals.title && title %>
        </h1>
        <hr>
        <h2>Our books</h2>


        <%- include('partials/footer') %>