<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>SSR</title>
</head>

<body>
    <header>
        <nav>
            <a href="/" class="navLink">Home</a>
            <a href="/about" class="navLink">About</a>
        </nav>
    </header>
    <% const username="James Bond" %>
        <h1>SSR works</h1>
        <p>Kiek yra 5 * 47 = <%= 5 * 47 %>
        </p>
        <p>Siuo metu prisijunges yra: <%= username %>
        </p>

</body>

</html>